@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, black 70%,blue);
}

.container{
  text-align: center;
}

.main-title {
  /*position:absolute; /* for positioning the h1 tag independently from the gird*/
  /*top: 40px; /* for positioning the h1 tag*/
  /*left: 50%; /* for positioning the h1 tag*/
  /*transform: translateX(-50%); /* for positioning the h1 tag*/
  color:skyblue;
  font-size: 46px;
  font-family: 'Press Start 2P', cursive;
}

p{
  display: flex;
  justify-content: center;
  font-size: 18px;
  color:#888;
}

.grid-container {
  width: 700px; 
  height: 700px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  position: relative; /* for positioning the h1 tag independently from the gird*/
  box-shadow: 10px 10px 2px lightblue; /*box shadow effect*/
  margin-bottom: 20px;
}
  
.grid-container div {
  background-color: lightgray;
  border: 1px solid #888;
}


.buttons{
  display: flex;
  justify-content: center;
}

.buttons button{
  margin: 0 6px;
  margin-bottom: 10px;
  border-color: blue;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  width: 10%;
  color: white;
  background-color: black;
}

.rgb-picker{
  margin-bottom: -14px;
}

.colorPicker-subtext{ 
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P';
  color:#888
}

button {
  width: 3rem;
  height: 1.8rem;
}

.buttons button:hover{
  background-color: skyblue;
  color: blue;
}

.buttons button:active {
  background-color: blue;
  color: black;
}
